body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  padding: 20px;
  background-color: skyblue;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  color: tomato;
  border-bottom: 1px solid #ddd;
}

li {
  line-height: 2;
}

input[type="text"] {
  padding: 6px 8px;
  font-size: 14px;
  width: 300px;
}

h1 > button {
  float: right;
}

.hidden {
  display: none;
}
